<div class="card">
  <header class="card-header has-text-centered">
    <p class="card-header-title">
      {{member.firstName}} {{member.lastName}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">

      <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">

        <input class="is-hidden" formControlName="firstName">
        <input class="is-hidden" formControlName="lastName">
        <input class="is-hidden" formControlName="day">

        <div class="field">
          <div class="control">
            <input formControlName="rsvp" class="is-checkradio" id="memberRsvp-{{i}}" type="checkbox" name="memberRsvp-{{i}}">
            <label for="memberRsvp-{{i}}" class="is-marginless">I can attend the Wedding</label>
          </div>
        </div>

        <div class="field" *ngIf="memberForm.value.rsvp">
          <label for="memberDietry-{{i}}" class="label">Dietry requirements</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select formControlName="dietry" placeholder="Dietry requirements" id="memberDietry-{{i}}" name="memberDietry-{{i}}" class="input is-small">
                <option *ngFor="let dietry of dietrys" [ngValue]="dietry">
                  {{dietry}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field" *ngIf="memberForm.value.rsvp">
          <label for="memberSong-{{i}}" class="label">Song request</label>
          <div class="control">
            <input formControlName="song" placeholder="Song request" id="memberSong-{{i}}" type="text" class="input is-small" name="memberSong-{{i}}">
          </div>
          <p class="help">
            Be nice!
          </p>
        </div>

        <hr>

        <div class="field">
          <div class="control">
            <input formControlName="rsvpJake" class="is-checkradio" id="memberRsvpJake-{{i}}" type="checkbox" name="memberRsvpJake-{{i}}">
            <label for="memberRsvpJake-{{i}}" class="is-marginless">I can attend Jake's 30th</label>
          </div>
          <a class="help" (click)="jakes30thModal = true">
            Jakes 30th?
          </a>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-primary is-small is-fullwidth is-outlined" type="submit">
              Save
            </button>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': jakes30thModal}">
  <div class="modal-background" (click)="jakes30thModal = false"></div>
  <div class="modal-content">
    <div class="has-background-light">
      <div class="columns">
        <div class="column is-paddingless">
          <figure class="image is-square">
            <img src="/assets/square-q-a-2.jpg">
          </figure>
        </div>
        <div class="column section">
          <div class="content">
            <h2 class="title has-text-centered">Jake's 30th</h2>
            <p>Jake's 30th is on the 2nd Septmeber, just 2 days after the wedding! We will be celebrating a day before, everyone
              is welcome for a BBQ and some more drinks (if you can handle it!), come and go as you please.</p>
            <p>
              <span class="has-text-weight-medium">Location</span> - Box Farm, Glastonbury</p>
            <p>
              <span class="has-text-weight-medium">Date</span> - 1st September at 4pm (food at 6)</p>
          </div>


        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="jakes30thModal = false"></button>
</div>