<section class="hero has-bg-img has-transparent-overlay" style="background-image: url('/assets/jakealex3.jpg')">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title has-text-white">
        Families coming
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Coming</th>
            <th>Song</th>
            <th>Jakes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let family of families">
            <td>
              <div *ngFor="let member of family.members">
                {{member.firstName}} {{member.lastName}}
              </div>
            </td>
            <td>
              <div *ngFor="let member of family.members">
                <span *ngIf="member.rsvp">
                  Yes
                </span>
                <span *ngIf="member.rsvpno">
                  No
                </span>
              </div>
            </td>
            <td>
              <div *ngFor="let member of family.members">
                {{member.song}}
              </div>
            </td>
            <td>
              <div *ngFor="let member of family.members">
                <span *ngIf="member.rsvpJake">
                  Yes
                </span>
                <span *ngIf="!member.rsvpJake">
                  No
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>