<section class="hero is-threequartersheight has-bg-img" style="background-image: url('/assets/jakealex2.jpg')">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-fixed-hero">
                    <div class="box content has-text-centered">
                        <h1 class="title is-size-1 is-marginless">
                            <div class="is-normal-family is-size-3 has-margin-bottom">The wedding celebration of</div>
                            Alex &amp; Jake
                        </h1>
                        <p class="is-small">31/08/2018</p>
                        <a class="button is-primary is-outlined is-centered has-more-padding" (click)="showPasswordInput = true" *ngIf="!showPasswordInput">
                            RSVP
                        </a>
                        <app-find-family *ngIf="showPasswordInput"></app-find-family>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>