<app-hero></app-hero>

<div class="section has-text-centered">
  <div class="container content">
    <h2 class="title">Our story</h2>
    <p>Alex and Jake met at university 9 years ago through a mutual friend on a night out when we should have been revising
      - Jake's crazy dance moves piqued Alex's interest - obviously! After a summer break and some texts back and forth they
      started back at uni and Jake got up the courage to ask Alex out on their first date to Giraffe in Cabot Circus.</p>

    <p>Fast forward and you will have seen their journey to work with Giant Pandas, explore Asia and eventually settle down
      and create a life of their own in Sydney, Australia. Lots of challenges presented themselves and with that they grew
      together. After 7 long years Jake finally proposed to Alex in Cyprus.</p>

    <p>Being the eager go-getters they are and organiser extraordinaires(!!!!) they felt it right to have a long 2 year engagement
      to plan the wedding of the year.</p>

    <p>We hope you enjoy it!</p>
  </div>
</div>

<div class="has-background-light">
  <div class="columns">
    <div class="column is-paddingless">
      <figure class="image is-square">
        <img src="/assets/square-q-a-2.jpg">
      </figure>
    </div>
    <div class="column section">
      <div class="content">
        <h2 class="title has-text-centered">Q &amp; A</h2>
      </div>

      <div class="columns">
        <div class="column is-half content">
          <h3 class="is-normal-family is-size-5 has-text-weight-medium">What is your favourite thing to do?</h3>
          <p>
            <span class="has-text-weight-medium">A: </span>Shop for expensive shoes while eating a family size bag of crisps</p>
          <p>
            <span class="has-text-weight-medium">J: </span>CrossFit and playing Final Fantasy (yeah, im a geek!)</p>
          <h3 class="is-normal-family is-size-5 has-text-weight-medium">Are you a cat or dog person?</h3>
          <p>
            <span class="has-text-weight-medium">A: </span>Definitely cat but because Charlie hates me I had to get two dogs which don't even equal cat</p>
          <p>
            <span class="has-text-weight-medium">A: </span>Cat but the chihuahuas have grown on me</p>
          <h3 class="is-normal-family is-size-5 has-text-weight-medium">What is your favourite film?</h3>
          <p>
            <span class="has-text-weight-medium">A: </span>Well, I love the Proposal but only because it reminds me of Jake!
          </p>
          <p>
            <span class="has-text-weight-medium">J: </span>Films - Gladiator, Remember the Titans, Mr and Mrs Smith and A Nights Tale
          </p>
        </div>

        <div class="column is-half content">
          <h3 class="is-normal-family is-size-5 has-text-weight-medium">What is your favourite food</h3>
          <p>
            <span class="has-text-weight-medium">A: </span>Sushi! Or any Asian food mm
          </p>
          <p>
            <span class="has-text-weight-medium">J: </span>Cereal, I would eat that all day everyday
          </p>
          <h3 class="is-normal-family is-size-5 has-text-weight-medium">If you could have a super power what would you choose?</h3>
          <p>
            <span class="has-text-weight-medium">A: </span>Fly of course! That way when I forget the key to the Lewis household I could just fly back and grab
            it instead of holding on for dear life when Jake does rally driving back to the house
          </p>
          <p>
            <span class="has-text-weight-medium">J: </span>Whatever Superman has, he can do virtually everything, I would make sure all the Kryptonite has been
            destroyed in the World first
          </p>
          <h3 class="is-normal-family is-size-5 has-text-weight-medium">Title 6</h3>
          <p>
            <span class="has-text-weight-medium">A: </span>Lorem ipsum dolor sit amet consectetur adipisicing elit
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="has-background-white has-text-centered has-strange-googlemap-padding">
  <div class="columns">
    <div class="column is-one-third is-paddingless">
      <div class="section content">
        <h2 class="title">Location</h2>
        <p>The cerenomy and evening will all be hosted at Godney Farm -
          <span class="has-text-weight-medium">1 Godney Rd, Wells BA5 1RX</span>
        </p>
      </div>
    </div>
    <div class="column is-two-thirds is-paddingless">
      <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="12">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>

<section class="has-background-light">
  <div class="section container content">
    <h2 class="title has-text-centered">Timeline</h2>
    <div class="timeline is-centered">
      <header class="timeline-header">
        <span class="tag is-medium is-primary">11am</span>
      </header>
      <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
          <p class="heading">Guests arrive</p>
          <p>Between 11am and 11:30am guests will arrive</p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-medium is-primary">12pm</span>
      </header>
      <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
          <p class="heading">The bride arrive</p>
          <p>Everyone should be in the Church waiting</p>
        </div>
      </div>
      <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
          <p class="heading">Watch Jake cry</p>
          <p>During the service please no photos unless its of Jake crying</p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-medium is-primary">1am</span>
      </header>
      <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
          <p class="heading">January 2016</p>
          <p>Timeline content - Can include any HTML element</p>
        </div>
      </div>
      <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
          <p class="heading">January 2016</p>
          <p>Timeline content - Can include any HTML element</p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-medium is-primary">The end :(</span>
      </header>
    </div>
  </div>
</section>

<section class="has-background-white">
  <div class="section container content">
    <h2 class="title has-text-centered">Accomodation</h2>
    <p class="has-text-centered">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam minima soluta, rem reprehenderit mollitia doloribus,
      dolores vel ea rerum, consectetur praesentium ipsa! Reiciendis, magni recusandae repellat omnis alias veritatis laborum.</p>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">

            <div class="media-content has-text-centered">
              <p class="title">Accomodation 1</p>
              <p class="subtitle">Glastonbury</p>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
              <a>@bulmaio</a>.
              <a href="#">#css</a>
              <a href="#">#responsive</a>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
