<section class="hero is-medium has-bg-img has-transparent-overlay" *ngIf="family?.photo" [ngStyle]="{'background-image': 'url(/assets/' + family.photo + '.jpg)'}">
  <a routerLink="/" class="button is-small is-white is-fixed-width">Back to home</a>
  <div class="hero-body content">
    <div class="container has-text-centered">
      <h1 class="has-text-white">
        The {{family.name}} family
      </h1>
      <h2 class="is-normal-family is-size-5 is-marginless subtitle has-text-white">
        Wedding and Jake's 30th RSVP
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered" *ngIf="members">
      <app-rsvp-family [family]="family" [member]="member" [id]="id" [i]="i" class="column is-one-third" *ngFor="let member of members; let i=index"></app-rsvp-family>
    </div>
  </div>
</section>
