<div class="row">
  <div class="col-md-6">
    <a routerLink="/family/{{ id }}" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back To Family
    </a>
  </div>
  <div class="col-md-6">

  </div>
</div>

<div class="card">
  <div class="card-header">
    Edit Family
  </div>
  <div class="card-body">
    <form #familyForm="ngForm" (ngSubmit)="onSubmit(familyForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          #familyName="ngModel"
          [ngClass]="{'is-invalid':familyName.errors && familyName.touched}"
          [(ngModel)]="family.name"
          minlength="2"
          required
        >

        <div [hidden]="!familyName.errors?.required" class="invalid-feedback">
          First name required
        </div>

        <div [hidden]="!familyName.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="text"
          class="form-control"
          name="password"
          #familyPassword="ngModel"
          [ngClass]="{'is-invalid':familyPassword.errors && familyPassword.touched}"
          [(ngModel)]="family.password"
          minlength="2"
          required
        >

        <div [hidden]="!familyPassword.errors?.required" class="invalid-feedback">
          Password required
        </div>

        <div [hidden]="!familyPassword.errors?.minlength" class="invalid-feedback">
          Must be at least 2 characters
        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-outline-primary btn-block">
    </form>
  </div>
</div>