<!-- <form #findFamilyForm="ngForm" (ngSubmit)="onSubmit(findFamilyForm)">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" password="password" name="password" #familyPassword="ngModel" [ngClass]="{'is-invalid':familyPassword.errors && familyPassword.touched}"
      [(ngModel)]="family.password" minlength="2" required>

    <div [hidden]="!familyPassword.errors?.required" class="invalid-feedback">
      Password required
    </div>

    <div [hidden]="!familyPassword.errors?.minlength" class="invalid-feedback">
      Must be at least 2 characters
    </div>
  </div>

  <input type="submit" value="Submit" class="button is-basic is-fullwidth">
</form>

 -->

<form #findFamilyForm="ngForm" (ngSubmit)="onSubmit(findFamilyForm)">
    <div class="field has-addons has-addons-fullwidth">
        <div class="control">
            <input class="input is-basic" 
            type="text" 
            placeholder="Password" 
            name="password"
            autofocus
            #familyPassword="ngModel"
            [(ngModel)]="family.password">
        </div>
        <div class="control">
            <button class="button is-primary is-outlined is-fullwidth"
            [ngClass]="{'is-loading': findFamilyLoading}"
            type="submit">Go</button>
        </div>
    </div>
</form>